form {
    max-width: 800px;   
  }
  /* Bytte ut den innebygde pila i selecten med en SVG */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    background-image: url("./arrow-down.svg");
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 7px;
    padding: 1rem;
    padding: 5px 10px;
    border: 1px solid #000000;
    border-radius: 2px;
  }

  @media screen and (max-width: 768px) {
    select {
        background-size: 1.6rem;
        background-position-x: 96%;
        background-position-y: 10px;
        border-radius: 1px;
      }
  }
  
/* Fjerne opp/ned-piler i Chrome, Safari, Edge, Opera når man har valgt number som type */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
}